<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Library</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="grid-container">
    <div class="header">
      <div class="header-left">
        <p>ZUT ARCHIVE</p>
      </div>
      <div class="header-right">
        <label for="LangOptions">Język</label>
        <select id="LangOptions" onchange="changeLanguage(this)">
  <option value="" disabled selected>Select language</option>
  <option value="{{ url_for('home') }}">Angielski</option>
  <option value="{{ url_for('indexPL') }}">Polski</option>
  <option value="{{ url_for('indexUA') }}">Ukraiński</option>
</select>

        <!--По хорошему перенести бы куда-то скрипт , но я хз куда -->
<script>
  function changeLanguage(select) {
    const url = select.value;
    window.location.href = url;
  }
</script>
      </div>
    </div>

    <div class="main">
    
      <p>ZUT Library</p>
      <button type="button" class="myBooks"><a href="MyBooks.html">Moję księżki</a></button>
      <form class="searchPool">
      <label for="search">Szukać</label>
      <input type="text" id="search">
      </form>
    </div>

    <div class="left"></div>

    <div class="center">
      <div class="center-container">
        <div class="center-header">
      <header><h1 class="centerText">Poszuk książek</h1></header>
      <a href="">księżki</a>
      <a href="">Autorze</a>
      <a href="https://github.com/volodymyr021983">Github</a><br>
      <!--<a href=""></a>-->
      <div class="centerSearch">
<form action="{{ url_for('search_books') }}" method="get">
  <input type="text" name="search" placeholder="Enter book name" required>
  <button type="submit">Search</button>
</form>
      </div>
      <br><br><br>
      <label for="accordanceOption"></label>
        <select id="accordanceOption" name="accordanceOption">
          <option value="1">Accordance</option>
          <option value="2">Top Rated</option>
          <option value="3">Random</option>
          <option value="4">Nowe</option>
          <option value="5">Najwięcej punlikacji</option>
        </select>
        </div>
        <div class="center-main">
          
        </div>
        <div class="center-right">
          <b>Język</b><br><br>
          <a href="">Angielski</a><p></p>
          <a href="">Polski</a><p></p>
          <a href="">Rosyjski</a><p></p>
          <a href="">Ukraiński</a><p></p>
          <b>Autorze</b><br><br>
          <a href="">NN</a><p></p>
          <a href="">NN</a><p></p>
          <a href="">NN</a><p></p>
          <b>Typ</b><br><br>
          <a href="">Katalog</a><p></p>
          <a href="">Historja</a><p></p>
          <a href="">Biografia</a><p></p>
          <a href="">Fikcja</a><p></p>
        </div>
      </div>
    </div>

    <div class="right"></div>

    <div class="footer">
      Andrii Yurashchuk Volodymyr Bulyzhyn Ivan Hryhorutsa
    </div>
  </div>

</body>
</html>
