<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Library</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="grid-container">
    <div class="header">
      <div class="header-left">
        <p>ZUT ARCHIVE</p>
      </div>
      <div class="header-right">
        <label for="LangOptions">Language</label>
        <select id="LangOptions" name="LangOptions">
          <option value="1">English</option>
          <option value="2">Polish</option>
          <option value="3">Ukranian</option>
        </select>
      </div>
    </div>

    <div class="main">
    
      <p>ZUT Library</p>
      <button type="button" class="myBooks">My Books</button>
      <form class="searchPool">
      <label for="search">Look</label>
      <input type="text" id="search">
      </form>
    </div>

    <div class="left"></div>

    <div class="center">
      <div class="center-container">
        <div class="center-header">
      <header><h1 class="centerText">Search Books</h1></header>
      <a href="">Books</a>
      <a href="">Autors</a>
      <a href="https://github.com/volodymyr021983">Github</a><br>
      <!--<a href=""></a>-->
      <div class="centerSearch">
<form action="{{ url_for('search_books') }}" method="get">
  <input type="text" name="search" placeholder="Enter book name" required>
  <button type="submit">Search</button>
</form>
      </div>
      <br><br><br>
      <label for="accordanceOption"></label>
        <select id="accordanceOption" name="accordanceOption">
          <option value="1">Accordance</option>
          <option value="2">Top Rated</option>
          <option value="3">Random</option>
          <option value="4">New</option>
          <option value="5">More publications</option>
        </select>
        </div>
        <div class="center-main">
          
        </div>
        <div class="center-right">
          <b>Language</b><br><br>
          <a href="">English</a><p></p>
          <a href="">Polish</a><p></p>
          <a href="">Russian</a><p></p>
          <a href="">Ukranian</a><p></p>
          <b>Autors</b><br><br>
          <a href="">NN</a><p></p>
          <a href="">NN</a><p></p>
          <a href="">NN</a><p></p>
          <b>Rubric</b><br><br>
          <a href="">Catalogs</a><p></p>
          <a href="">History</a><p></p>
          <a href="">Biography</a><p></p>
          <a href="">Fiction</a><p></p>
        </div>
      </div>
    </div>

    <div class="right"></div>

    <div class="footer">
      Andrii Yurashchuk Volodymyr Bulyzhyn Ivan Hryhorutsa
    </div>
  </div>

</body>
</html>
