<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Бібліотека</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="grid-container">
    <div class="header">
      <div class="header-left">
        <p>ZUT ARCHIVE</p>
      </div>
      <div class="header-right">
        <label for="LangOptions">Мова</label>
        <select id="LangOptions" onchange="changeLanguage(this)">
  <option value="" disabled selected>Select language</option>
  <option value="{{ url_for('home') }}">Англійська</option>
  <option value="{{ url_for('indexPL') }}">Польска</option>
  <option value="{{ url_for('indexUA') }}">Україньська</option>
</select>

        <!--По хорошему перенести бы куда-то скрипт , но я хз куда -->
<script>
  function changeLanguage(select) {
    const url = select.value;
    window.location.href = url;
  }
</script>
      </div>
    </div>

    <div class="main">
    
      <p>ZUT Library</p>
      <a href="{{ url_for('my_books') }}" class="myBooks"> <button type="button" class="myBooks">Мої книги</a></button>
      <form class="searchPool">
      <label for="search">Шукати</label>
      <input type="text" id="search">
      </form>
    </div>

    <div class="left"></div>

    <div class="center">
      <div class="center-container">
        <div class="center-header">
      <header><h1 class="centerText">Пошук книжок</h1></header>
      <a href="">Книжки</a>
      <a href="">Автори</a>
      <a href="https://github.com/volodymyr021983">Github</a><br>
      <!--<a href=""></a>-->
      <div class="centerSearch">
<form action="{{ url_for('search_books') }}" method="get">
  <input type="text" name="search" placeholder="Enter book name" required>
  <button type="submit">Search</button>
</form>
      </div>
      <br><br><br>
      <label for="accordanceOption"></label>
        <select id="accordanceOption" name="accordanceOption">
          <option value="1">Відповідність</option>
          <option value="2">Top Rated</option>
          <option value="3">Випадкова</option>
          <option value="4">Нова</option>
          <option value="5">Найбільше публікацій</option>
        </select>
        </div>
        <div class="center-main">
          
        </div>
        <div class="center-right">
          <b>Мова</b><br><br>
          <a href="">Англійська</a><p></p>
          <a href="">Польска</a><p></p>
          <a href="">Росийська</a><p></p>
          <a href="">Україньська</a><p></p>
          <b>Автори</b><br><br>
          <a href="">NN</a><p></p>
          <a href="">NN</a><p></p>
          <a href="">NN</a><p></p>
          <b>Тип</b><br><br>
          <a href="">Каталог</a><p></p>
          <a href="">Історія</a><p></p>
          <a href="">Біографія</a><p></p>
          <a href="">Фантастика</a><p></p>
        </div>
      </div>
    </div>

    <div class="right"></div>

    <div class="footer">
      Andrii Yurashchuk Volodymyr Bulyzhyn Ivan Hryhorutsa
    </div>
  </div>

</body>
</html>
